<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="loadQuotes($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="text-center" *ngIf="loading && !loadFailed && !loadByRefresher" padding>
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="loadFailed" padding>
    <h2 >Не удалось загрузить цитаты</h2>
  </div>
  <div class="quotes">
    <app-quote *ngFor="let quote of quotes" [quote]="quote"></app-quote>
  </div>
  <div padding>
    <button ion-button block *ngIf="showLoadMoreButton()" (click)="loadQuotes()">Хочу еще!</button>
  </div>
  <ion-infinite-scroll *ngIf="showInfiniteScrolling()" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
